html{
    scroll-snap-type: y mandatory;
}
.videoList{
    position:relative;
    height:100%;
    width:100%;
    overflow:scroll;
    scroll-snap-type: y mandatory;
}
.homeContainer{
    display:grid;
    place-items: center;
}